<div>
  <table>
    <tr>
      <th>Name</th><th>Count</th><th>Dates</th>
    </tr>
    <% @activity_history.each do |activity| %>
      <tr>
        <% activity.each do |field| %>
          <th>
            <%= field %>
          </th>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>