<div>
  <table>
    <tr>
      <th></th>
    <% @daily_schedule.time_slots.each do |time_slot_id, (start_time, end_time)| %>
      <th>
        <%= start_time %>
      </th>
    <% end %>
    </tr>
    <% @daily_schedule.bunks.each do |bunk, activities| %>
    <tr>
      <th>
        <%= bunk.name %>
      </th>
      <% @daily_schedule.time_slots.each do |time_slot_id, (start_time, end_time)| %>
        <td>
          <% if !!@daily_schedule.schedule[time_slot_id][bunk] %>
            <%= @daily_schedule.schedule[time_slot_id][bunk].name %> (<%= @daily_schedule.schedule[time_slot_id][bunk].location %>)
          <% else %>
            No activities available
          <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>