<div>
  <table>
    <tr>
    <% daily_schedule_time_slots(@daily_schedule).each do |_, time_slot| %>
      <th>
        <%= time_slot %>
      </th>
    <% end %>
    </tr>
    <% daily_schedule_bunk_activity_list(@daily_schedule).each do |bunk, bunk_schedule| %>
      <tr>
        <th>
          <%= bunk.name %>
        </th>
        <% bunk_schedule.each do |_, activity| %>
          <th>
            <%= activity %>
          </th>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>