<div>
  <table>
    <tr>
      <th></th>
    <% @daily_schedule.time_slots.each do |time_slot| %>
      <th>
        <%= time_slot.values.first %>
      </th>
    <% end %>
    </tr>
    <% all_bunks_activities(@daily_schedule) do |bunk, activities| %>
    <tr>
      <th>
        <%= bunk.name %>
      </th>
      <% activities.each do |activity| %>
        <td>
          <% if !!activity %>
            <%= "#{activity.name} (#{activity.location})" %>
          <% else %>
            No activities available
          <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>