<div>

</div>

<div>
  <% @todays_schedule.bunks.each do |bunk| %>
    <p>
      <%= bunk.display_schedule %>
    </p>
  <% end %>
</div>

<!-- display a generate month calenday link if one doesn't exist yet. It should post to '/calendar_days/generate' -->
