<div>
  <table>
    <tr>
      <th></th>
    <% @daily_schedule.time_slots.each do |time_slot| %>
      <th>
        <%= time_slot.keys.first %>
      </th>
    <% end %>
    </tr>
    <% all_bunks_activities(@daily_schedule) do |bunk_name, activities| %>
    <tr>
      <th>
        <%= bunk_name %>
      </th>
      <% activities.each do |activity| %>
        <td> <%= activity.name %> </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>