<div>
  <table>
    <tr>
    <% daily_schedule_time_slots(@daily_schedule_bunk_activities).each do |time_slot| %>
      <th>
        <%= time_slot %>
      </th>
    <% end %>
    </tr>
    <% daily_schedule_bunk_activity_list(@daily_schedule_bunk_activities).each do |bunk_schedule| %>
      <tr>
        <% bunk_schedule.each do |activity| %>
          <th>
            <%= activity %>
          </th>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<!-- display a generate month calenday link if one doesn't exist yet. It should post to '/calendar_days/generate' -->
