<div>
  <ol>
  <% @all_divisions.each do |division| %>
    <li>
      <%= division[:name] %>  <a href="/divisions/<%= division[:id] %>/edit">Edit</a> <form action="/divisions/<%= division[:id] %>/delete" method="post"><button type="submit">Delete</button></form>
    </li>
  <% end %>
  </ol>
  <br>
  <a href="divisions/new">Add New Division</a>
</div>