<form action="/divisions/<%= @division[:id] %>/edit" method ="post">
  <label for="name">Division Name</label>
  <input type="text" id="name" name="name" value="<%= @division[:name] %>" required>

  <label for="age">Age Group</label>
  <input type="number" id="age" name="age" step="1" min="0" value="<%= @division[:age] %>" required>

  <button type="submit">Save Changes</button>
</form>