<fk!doctype html>
<html>
  <head>
    <title>Camp Scheduler</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
    integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
    crossorigin='anonymous'>
  </head>

  <body>
    <header>
      <div class="container">

        <nav>
          <p><a href="/">Smart Scheduling</a></p>

          <ul>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/dailyschedules/default/edit">Default Sched</a></li>
            <li><a href="#">Bunks <img src="/images/down_arrow.png"></a>
              <ul>
                <li><a href="/bunks">Bunks List</a></li>
                <li><a href="/bunks/new">Add Bunks</a></li>
              </ul>
            </li>
            <li><a href="#">Activities <img src="/images/down_arrow.png"></a>
              <ul>
                <li><a href="/activities">Activities List</a></li>
                <li><a href="/activities/new">Add Activity</a></li>
              </ul>
            </li>
            <li><a href="/divisions">Divisions</a></li>
            <li><a href="/time_slots">Time Slots</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <% if session[:message] %>
      <div class="flash success">
        <p><%= session.delete(:message) %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
