<!doctype html>
<html>
  <head>
    <title>Camp Scheduler</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>

  <body>
    <header>
      <div class="container">
        <h3 class="logo">Smart Scheduling</h3>

        <nav>
          <ul>
            <li><a href="/bunks">Bunks</a></li>
            <li><a href="/activities">Activities</a></li>
            <li><a href="/divisions">Divisions</a></li>
            <li><a href="/time_slots">Time Slots</a></li>
            <li><a href="/calendar">Calendar</a></li>
          </ul>
        </nav>
      </div>
    </header>


    <%= yield %>
  </body>
</html>
