<form action="/time_slots/new" method ="post">

  <label for="start_time">Start Time</label>
  <input type="time" id="start_time" name="start_time" required>

  <label for="end_time">End Time</label>
  <input type="time" name="end_time" id="end_time" required>

  <button type="submit">Add Time Slot</button>
</form>
