<form action="/division/new" method ="post">
  <label for="name">Division Name</label>
  <input type="text" id="name" name="name" required>

  <label for="age">Primary Age</label>
  <input type="number" step="1" min="8" max="16" id="age" name="age" required>

  <button type="submit">Add Division</button>
</form>
