<form action="/bunk/new" method="POST">
  <label for="name">Bunk name:</label>
  <input type="text" name="name" id="name">

  <label for="division">Bunk division</label>
  <select name="division" id="division">
    <option value='hey'>Hey</option>
    <option value='aleph'>Aleph</option>
    <option value='bet'>Bet</option>
    <option value='gimmel'>Gimmel</option>
    <option value='daled'>Daled</option>
  </select>

  <label for="gender">Gender</label>
  <input type="text" name="gender" id="gender">

  <button type=submit>Add Bunk</button>
</form>