<form action="/bunks/new" method="POST">
  <label for="name">Bunk Name:</label>
  <input type="text" name="name" id="name" value="<%= params[:name] %>">

  <label for="division">Bunk Division:</label>
  <select name="division" id="division">
    <% @divisions.each do |division| %>
      <option value="<%= division[:name] %>"><%= division[:name] %></option>
    <% end %>
  </select>

  <label for="gender">Gender:</label>
  <select name="gender" id="gender">
    <option value='M'>Male</option>
    <option value='F'>Female</option>
  </select>

  <br>

  <label for="add">Add Bunk</label>
  <button id="add" type="submit"><i class='far'>&#xf0c7;</i></button>
</form>
