body {
  margin: 0;
}

header {
  background-color: #2FB0D9;
}


.logo {
  margin-left: 20px;
  float: left;
}



nav li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
  text-align: center;
  height: 20px;
  border-radius: 5px;
}

nav a {
  font-size: 14px;
  text-transform: uppercase;
  color: #0F3B49;
  text-decoration: none;
}

.schedule-table {
  margin: 20px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 12px;
  min-width: 400px;
  overflow: hidden;
  border: 1px solid black;
}

.schedule-table thead tr {
  background-color: #a9a9a9;
  color: black;
  text-align: center;
  font-weight: bold;
}

.schedule-table th,
.schedule-table td {
  padding: 4px 4px;
}


.schedule-table option {

}

.schedule-table .bunk-name {
  font-weight: normal;
  border: 1px solid black;
}

.schedule-table tbody td {
  border: 1px solid black;

}

.schedule-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}