* {
  margin: 0;
  padding: 0;
}

body {
  /*background-image: url("/images/grass_background.jpg");*/
  font-family: "Arial Rounded MT Bold";

}

body a {
  text-decoration: none;
}

/*Navigation Menu*/

nav {
  width: 100%;
  height: 70px;
  background-color: #679ACC;
  margin-bottom: 8px;
  font-family: "Arial Rounded MT Bold";
}

nav p {
  position: absolute;
  color: #222;
  line-height: 40px;
  font-size: 22px;
  padding: 6px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid black;
}

nav ul {
  margin-left: 240px;
  width: 900px;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
  line-height: 25px;
}

nav ul li a {
  display: block;

  font-size: 18px;
  padding: 22px 14px;
}

nav ul li a img {
  height: 8px;
  width: 10px;
}

nav ul li ul {
  width: auto;
  margin-left: 0px;
  display: none;
  position: absolute;
  background-color: #679ACC;
  padding: 5px;
  border-radius: 0px 0px 4px 4px;
  z-index: 6;

}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
}

nav ul li ul li a {
  padding: 8px 14px;
  border-radius: 4px;
}

nav ul li ul li a:hover {
  background-color: #f3f3f3;
}


nav a {
  text-transform: uppercase;
  color: #0F3B49;
  text-decoration: none;
}



/*Calendar*/

#calendar {
  margin: 0 5%;
  width: 90%;
  overflow: auto;
  background: white;
}


#calendar .month {
  text-align: center;
  margin: 5px;
}

#calendar a {
  text-decoration: none;
}

#calendar ul {
  list-style: none;
  clear: both;
  width: 100%;
}

#calendar li {
  display: block;
  float: left;
  width: 14.2857142%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
}

#calendar ul.weekdays {
  height: 40px;
  background: #777;
}

#calendar ul.weekdays li {
  overflow: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  padding: 10px 6px;
  font-size: 16px;
  color: #fff;
  border: none!important;
}

#calendar li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

}

#calendar .days li {
  height: 180px;
}

#calendar .days li.scheduled:hover {
  background: #eee;
}

#calendar .days li.not-scheduled:hover {
  background: #eee;
}

#calendar .date {
  margin: 8px;
  text-align: center;
  float: right;
  padding: 8px;
  background: #333;
  color: #fff;
  border-radius: 100%;
  width: 20px;
  font-size: 14px;

}

#calendar .date-name {
  clear: both;
  display: block;
  font-size: 11px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: #666;
  line-height: 14px;
  background-color: #e4f2f2;
}

#calendar .schedule-status {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.flash.success {
  padding: 10px;
  font-weight: bold;
  color: #33cc99;
  background: #CBF2E5;
}

/*Schedule Table */


.schedule-table {
  border-collapse: collapse;
  margin: 25px 20px;
  font-size: 12px;
  min-width: 400px;
  border: 1px solid black;
}


.schedule-table thead th {
  position: sticky;
  top: -0.5px;
  background-color: #a9a9a9;
  z-index: 5;
}

.schedule-table thead tr {
  color: black;
  text-align: center;
  font-weight: bold;
}

.schedule-table th,
.schedule-table td {
  padding: 4px 4px;
}


.schedule-table option {

}

.schedule-table .bunk-name {

  border: 1px solid black;
  position: sticky;
  z-index: 4;
  left: 0px;
  background-color: #a9a9a9;
}


.schedule-table tbody td {
  border: 1px solid black;

}

.schedule-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}


/*All other tables*/

table {
  border-collapse: collapse;
  margin: 25px 20px;
  font-size: 12px;
  min-width: 400px;
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
}

table thead th {
  position: sticky;
  top: -0.5px;
  background-color: #a9a9a9;
  z-index: 5;
}

table thead tr {
  color: black;
  text-align: center;
  font-size: 14px;
}

table th,
table td {
  padding: 4px 4px;
  text-align: center;
}

table td:nth-child(1){

  border: 1px solid black;
  font-size: 14px;
  position: sticky;
  z-index: 4;
  left: 0px;
}

table td#end-time {

  border: 1px solid black;
  font-size: 14px;
  position: sticky;
  z-index: 4;
  left: 0px;
}

table tbody td {
  border: 1px solid black;

}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/*Icons*/

button a {
  font-size: 18px;
  padding: 5px;
  border: none;
  background: none;
  color: #3385ff;
}

button:hover a:hover {
  color: #0033cc;
}

.add-object {
  text-align: center;
}


