<div>
  <br>
  <div class="add-object">
    <label for="add">Add New Time Slot</label>
    <a href="time_slots/new"><i class='fas'>&#xf067;</i></a>
  </div>
  <table>
    <thead>
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <% @all_time_slots.each do |time_slot_id, time_slot| %>
    <tr>
      <td><%= time_slot.first %></td>
      <td id="end-time"><%= time_slot.last %></td>
      <td><a href="/time_slots/<%= time_slot_id %>/edit"><i class='far'>&#xf044;</i></a></td>
      <td>
        <form action="/time_slots/<%= time_slot_id %>/delete" method="post">
          <button type="submit"><i class='far'>&#xf2ed;</i></button>
        </form>
      </td>
    </tr>
    <% end %>
  </table>
</div>