<div>
  <form action="/activities/new" method ="post">
    <div>
      <label for="name">Activity Name</label>
      <input type="text" id="name" name="name" required>

      <label for="location">Location</label>
      <input type="text" id="location" name="location" required>
    </div>

    <div>
      <label for="youngest_division">Youngest Division</label>
      <select name="youngest_division" id="youngest_division" required>
      <% divisions.each do |division| %>
        <option value="<%= division[:name] %>"><%= division[:name] %></option>
      <% end %>
      </select>

      <label for="oldest_division">Oldest Division</label>
      <select name="oldest_division" id="oldest_division" required>
      <% divisions.each do |division| %>
        <option value="<%= division[:name] %>"><%= division[:name] %></option>
      <% end %>
      </select>
    </div>

    <div>
      <label for="max_bunks">Maximum number of bunks</label>
      <input type="number" step="1" min="1" name="max_bunks" id="max_bunks" value="1">

      <label for="double">Played for two periods?</label>
      <input id="double" type="checkbox" name="double" value="t">

      <label for="auto_schedule">Should this acitivty be auto scheduled?</label>
      <input id="auto_schedule" type="checkbox" name="auto_schedule" value="t">
    </div>

    <label for="add">Add Activity</label>
    <button id="add" type="submit"><i class='far'>&#xf0c7;</i></button>
  </form>
</div>