<form action="/divisions/new" method ="post">
  <label for="name">Division Name</label>
  <input type="text" id="name" name="name" required>

  <label for="age">Age Group</label>
  <input type="number" id="age" name="age" step="1" min="0" required>

  <br>

  <label for="add">Add Division</label>
  <button id="add" type="submit"><i class='far'>&#xf0c7;</i></button>
</form>
